.gradle/
.kotlin/
.idea/
local.properties
**/build/
*.iml
captures/
.externalNativeBuild/
.cxx/
**/node_modules/
keystore.properties
*.jks
*.keystore
runtime/rootfs/*.tar.*
runtime/rootfs/*.zip
artifacts/
releases/**/*.apk
releases/**/*.exe
releases/**/*.png
releases/1.2.0-dsh-preview.1/
